body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
a {text-decoration: none}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;/*background: #009688;*/}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

#myNavbar i {
    padding-right: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.grid-container > div {
    padding: 10px;
    /* background-color: #b7fff8; */
}

.grid-container > div:hover {
    /* background-color: #6efff1; */
    background-color: #b7fff8;
}

#typing {
    letter-spacing: 5px;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

.w3-theme-l5 {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b7fff8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#6efff1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#26ffe9 !important}
.w3-theme-l1 {color:#fff !important; background-color:#00dcc6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#008578 !important}
.w3-theme-d2 {color:#fff !important; background-color:#00766a !important}
.w3-theme-d3 {color:#fff !important; background-color:#00685d !important}
.w3-theme-d4 {color:#fff !important; background-color:#005950 !important}
.w3-theme-d5 {color:#fff !important; background-color:#004a43 !important}

.w3-theme-light {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-dark {color:#fff !important; background-color:#004a43 !important}
.w3-hover-light:hover {color:#000 !important; background-color:#e9fffd !important}
.w3-hover-dark:hover {color:#fff !important; background-color:#004a43 !important}
.w3-hover-text-dark:hover {color:#004a43 !important}

.w3-theme {color:#fff !important; background-color:#009688 !important}
.w3-text-theme {color:#009688 !important}
.w3-border-theme {border:2px solid #009688 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#009688 !important}
.w3-hover-text-theme:hover {color:#009688 !important}
.w3-hover-border-theme:hover {border-color:#009688 !important}